body {
	background-color: rgb(1, 0, 8);
	color: rgb(255, 255, 255);
}
.tab-nav-container{
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	box-shadow: 0 3px 6px rgb(255, 255, 255), 0 3px 6px rgb(255, 255, 255);
	display: flex;
	justify-content: space-around;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0.3em 1em;
  border-top: 0.2px solid rgb(224, 224, 224);
}

.tab{
	background: #ffffff;
	border-radius:50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content:center;
	padding: 20px 20px;
	margin: 0 10px;
	font-size: 1em;
	transition: background 0.4 linear;
}

.tab i{
	font-size: 1em;
}

.tab p{
	font-weight:bold;
	overflow: hidden;
	max-width:0;
}

.tab.active p{
	overflow: hidden;
}
.tab.active.purple{
	background-color: rgb(0, 132, 255);
	color: rgb(255, 255, 255);
}
.tab.active.yellow{
	background-color: rgba(230, 169, 25, 0.2);
	color: rgba(230, 169, 25, 1);
}
.tab.active.teal{
	background-color: rgba(28, 150, 162, 0.2);
	color: rgba(28, 150, 162, 1);
}

@media (max-width: 450px){
	.tab-nav-container{
		padding: 5px;
	}
	
	.tab {
		padding: 0.5em 1em;
		margin: 0;
	}
	
	.tab i{
		font-size: 1em;
	}
}
.container {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-color: #ffffff;
	width: fit-content;
	height: auto;
	color: black;
	padding: 0.6em 1em;
}
.head{
		color: rgb(0, 0, 0);
		background-color: rgb(255, 255, 255);
		display: flex;
	  position: fixed;
	  border-bottom: 0.2px solid rgb(224, 224, 224) ;
	  justify-content: space-between;
	  width: 100%;
	  left: 0;
	  top: 0;
	  padding: 0.1em 1em;
}
.right {
	float: right;
	padding: 0em 1.5em;
}
img {
	width: auto;
	height: 100px;
}
main {
	align-items: center;
}
button {
	outline: none;
	border: none;
	background-color: rgb(0, 132, 255);
	color: rgb(255, 255, 255);
	font-size: 15px;
	padding: 0.2em 0.4em;
	cursor: pointer;
}
textarea {
	resize: none;
	width: 90%;
	height: 80%;
	background-color: #111;
	color: white;
	padding: 0.6em 1em;
}
.hd{
	color: rgb(0, 0, 0);
	display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.1em 1em;
}
iframe {
	width: 90%;
	height: 80%;
}
#html {
	color: rgb(157, 163, 248);
}
#css {
	color: rgb(170, 255, 199);
}
#js {
	color: rgba(255, 224, 137, 0.767);
}
input {
	outline: none;
	border: none;
	padding: 0.6em 1em;
}
#dd {
	color:rgb(254, 255, 209)
}